{% extends "base.html" %}
{% block title %}¡Bienvenidos!{% endblock %}
{% block content %}
    <h1>¡Bienvenidos a Django Templates Project!</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi veniam hic, dicta assumenda, corrupti placeat id quos ullam commodi perspiciatis doloribus vel facilis tempora ad officia sunt laborum alias! Provident?
        Beatae qui ratione quia sed consequatur? Earum a veritatis laboriosam ipsum cum! Dignissimos quasi accusamus exercitationem architecto ducimus, voluptatum illum repudiandae, modi repellendus inventore aspernatur corrupti omnis veritatis sint vel!
        Ipsam, laborum delectus! Totam debitis omnis esse magnam! Culpa at veritatis suscipit nulla ab earum in maxime, deleniti commodi. Aperiam delectus sunt laborum ipsum error eos tempore praesentium, numquam ipsa.
        Laudantium aliquid reiciendis distinctio itaque, eveniet neque non veniam unde adipisci mollitia autem aperiam officiis ducimus? Dolor labore nemo deleniti distinctio expedita totam, impedit nisi exercitationem iusto illo rerum non?
        Nisi in perferendis cum suscipit culpa dignissimos! Dolorum omnis, neque adipisci ullam quos illum quam reiciendis necessitatibus facere suscipit ipsam illo eligendi quo ipsum aliquam quod. Soluta sequi facilis fugiat.
    </p>
{% endblock %}